<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" href='{% static "style.css" %}'/>

    </head>

    <body>
            <div class="navigation">
                <div class="row">
                    <div class="col col-lg-1">
                        <a href="/puns/"><span class="text-muted">Punline</span></a>
                    </div>
                    <div class="col col-lg-1">
                       <a href="https://github.com/flame11st/punline"><span class="text-muted">GitHub</span></a>
                    </div>
                </div>
            </div>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-8">
                    <form id="input" class="input" action="/puns/" method="post">
                        <div class="input-group">
                            {% csrf_token %}
                            <input id="search" class="input" type="text" name="word" maxlength="100" placeholder="Enter your word here">
                            <span class="input-group-btn">
                                <input type="submit" class="btn btn-light" value="Go!" />
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>

