html::-webkit-scrollbar { width: 0; }
html { -ms-overflow-style: none; }
html { overflow: -moz-scrollbars-none; }


body{ background-color: #FDFDFD; }

.navigation {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #FFFFFF;
  margin-bottom: 5rem;
  margin-left:0px;
    -webkit-box-shadow:  rgba(0, 0, 0, 0.12) 0px 3px 6px, rgba(0, 0, 0, 0.12) 0px 3px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 6px, rgba(0, 0, 0, 0.12) 0px 3px 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 6px, rgba(0, 0, 0, 0.12) 0px 3px 4px;
}


.logo { padding-left: 2.5px; }


.logo img{
	width: 180px;
	height: 55px;
	margin-top:2.5px;
}

.github img{
	margin-top:7.5px;
	width: 45px;
	height: 45px;
}


#input {
    margin-bottom: 4rem;
}

#search{
    position: relative;
    padding-left: 15px;
}

#search-btn{
    height: 36px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px 24.5px;
    -webkit-box-shadow:  rgba(0, 0, 0, 0.12) 0px 1px 4px, rgba(0, 0, 0, 0.12) 0px 3px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px, rgba(0, 0, 0, 0.12) 0px 3px 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px, rgba(0, 0, 0, 0.12) 0px 3px 4px;
}

.input {
    border: 0;
    width: 100%;
    height: 52px;
    -webkit-box-shadow:  rgba(0, 0, 0, 0.12) 0px 1px 4px, rgba(0, 0, 0, 0.12) 0px 3px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px, rgba(0, 0, 0, 0.12) 0px 3px 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px, rgba(0, 0, 0, 0.12) 0px 3px 4px;
}

.btn-light{

}

.error{
    -webkit-box-shadow:  rgba(0, 0, 0, 0.12) 0px 3px 6px, rgba(0, 0, 0, 0.12) 0px 3px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 6px, rgba(0, 0, 0, 0.12) 0px 3px 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 6px, rgba(0, 0, 0, 0.12) 0px 3px 4px;
    border: 1;
    border-color: #F9F9F9;
    text-align: center;
    padding-top: 15px;
    color: #4a4a4a;
    margin-top: 2rem;
    background: #FFFFFF;
    font-size: 19px;
}

.card{
    -webkit-box-shadow:  rgba(0, 0, 0, 0.12) 0px 3px 6px, rgba(0, 0, 0, 0.12) 0px 3px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 6px, rgba(0, 0, 0, 0.12) 0px 3px 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 6px, rgba(0, 0, 0, 0.12) 0px 3px 4px;
    border: 1;
    border-color: #F9F9F9;
    color: #4a4a4a;
    padding:0px;
    margin-top: 2rem;
    background: #FFFFFF;
    font-size:19px;
}

#cards {
    margin-bottom: 1rem;
}

.repeat{
    -webkit-box-shadow:  rgba(0, 0, 0, 0.12) 0px 3px 6px, rgba(0, 0, 0, 0.12) 0px 3px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 6px, rgba(0, 0, 0, 0.12) 0px 3px 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 6px, rgba(0, 0, 0, 0.12) 0px 3px 4px;
    weight: 300px;
}

.puns {
    margin-bottom:30px;
    font-size: 30px;
}
